/* NAVBAR */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(15px);

  box-shadow: 0 4px 20px rgba(0,0,0,0.08);

  width: 100%;
}

.navbar-container {
  max-width: 1400px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 40px;
}

/* LOGO */

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #22c55e;
}

/* NAVIGATION */

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links a {
  font-weight: 500;
  color: #334155;

  transition: 0.3s;
}

.nav-links a:hover {
  color: #22c55e;
}

/* BUTTONS */

.nav-buttons {
  display: flex;
  gap: 15px;
}

.login-btn,
.signup-btn {
  padding: 12px 22px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.login-btn {
  border: 2px solid #22c55e;
  color: #22c55e;
}

.login-btn:hover {
  background: #22c55e;
  color: white;
}

.signup-btn {
  background: #22c55e;
  color: white;
}

.signup-btn:hover {
  background: #16a34a;
}

/* HAMBURGER */

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* MOBILE ONLY */

.mobile-buttons {
  display: none;
}

/* RESPONSIVE */

@media screen and (max-width: 900px) {

  .navbar-container {
    padding: 18px 20px;
  }

  .menu-icon {
    display: block;
  }

  .nav-buttons {
    display: none;
  }

  .nav-links {
    position: absolute;

    top: 80px;
    left: -100%;

    width: 100%;

    flex-direction: column;

    background: white;

    padding: 30px;

    gap: 20px;

    transition: 0.4s ease;
  }

  .nav-links.active {
    left: 0;
  }

  .mobile-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
  }

  .mobile-buttons a {
    text-align: center;
  }
}